<form class="container col-sm-4">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-lable-sm">
    Question:
   </label>
   <div class="col-sn-8">
  <input
    type="text"
    class="form-control form-control-sm"
    placeholder="Poll question"
  >
   </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-lable-sm">
    Image:
   </label>
   <div class="col-sn-8">
  <input
    type="text"
    class="form-control form-control-sm"
    placeholder="Url to Image"
  >
   </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-lable-sm">
    Image:
   </label>
   <div class="col-sn-8">
  <input
    type="text"
    class="form-control form-control-sm"
    placeholder="Url to Image"
  >
   </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-lable-sm">
    Image:
   </label>
   <div class="col-sn-8">
  <input
    type="text"
    class="form-control form-control-sm"
    placeholder="Url to Image"
  >
   </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-lable-sm">
    Image:
   </label>
   <div class="col-sn-8">
  <input
    type="text"
    class="form-control form-control-sm"
    placeholder="Url to Image"
  >
   </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-lable-sm">
    Submit:
   </label>
   <div class="col-sn-8">
  <input
    type="text"
    class="form-control form-control-sm"
    placeholder="Url to Image"
  >
   </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn-sm btn-dark">Submit Poll</button>
  </div>
</form>
