<div class="card mb-4">
     <div class="poll-image">
         <img src ="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg&w=1440">
     </div>
     <div class="card-body">
      <p class="card-text text-truncate fw-bolder">
          Do you like cats or dogs ?
      </p>
      <div class="d-flex justify-content-between">
          <small class="text-muted">10 Votes</small>
          <small class="text-muted">Votes</small>
      </div>
     </div>
 </div>

