<div class="card mb-4">
     <div>
         <img src ="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg&w=1440">
     </div>
     <div class="card-buddy">
      <p class="card-text text-truncate">
          Do you like cats or dogs ?
      </p>
      <div class="d-flex justify-content-between">
          <small class="text-muted">10 Votes</small>
          <small class="text-muted">Votes</small>
      </div>
     </div>
 </div>

 https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.washingtonpost.com%2Fscience%2F2019%2F09%2F25%2Fwhat-makes-dogs-so-special-successful-love%2F&psig=AOvVaw0z4fpgR3DK7Tswr6VnmBLj&ust=1613070224274000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKD_4_-A4O4CFQAAAAAdAAAAABAI
